body{
    margin: 0;
    
    }
    
    header{
     background-color: rgb(255, 0, 106); 
    padding: 2%;
    }
    
    h1{
    margin: 0;
    text-align: center;
    
    }
    
    .entradas{
    background-color: rgb(253, 110, 146); 
    margin: 2%;
    height: 300px;
    width: 60%;
    text-align: center;
    border-radius: 10px;
    }
    
    label{
    line-height: 1.4;

     }

     input{
    margin-bottom: 12px;
    padding: 10px;;
    border-radius: 10px;

     }
     select{
     margin-bottom: 12px;
     width: 200px;
    padding: 5px;
    border-radius: 10px;
     }
    button{
       margin-top: 12px;
        width: 200px;
        padding: 10px;
        background-color: greenyellow;
        border-radius: 10px;
    }

    .principal{
    display: grid;
    place-items: center;

    }
    .saída{
        background-color: rgb(253, 110, 146); 
        margin: 2%;
        height: 140px;
        width: 40%;
        text-align: center;
        border-radius: 10px;


    }